@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?8f1bkt');
  src: url('../fonts/icomoon.eot?8f1bkt#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?8f1bkt') format('truetype'),
    url('../fonts/icomoon.woff?8f1bkt') format('woff'),
    url('../fonts/icomoon.svg?8f1bkt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before {
  content: '\e901';
}
.icon-chevron-up:before {
  content: '\e900';
}
.icon-location:before {
  content: '\e947';
}
.icon-clock:before {
  content: '\e94e';
}
.icon-calendar:before {
  content: '\e953';
}
.icon-cog:before {
  content: '\e994';
}
.icon-menu:before {
  content: '\e9bd';
}
.icon-earth:before {
  content: '\e9ca';
}
.icon-twitter:before {
  content: '\ea96';
}
.icon-twitch:before {
  content: '\ea9f';
}
