@import '_vars';
@import 'icons';

@font-face {
  font-family: 'Pacaembu';
  src: url('../fonts/PacaembuVar-subset.woff2');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Pacaembu', sans-serif;
  font-feature-settings: 'salt';
  font-weight: 680;
}

* {
  box-sizing: border-box;
}

body {
  background: #0e1015;
  color: #f2f2f2;
}

h1 {
  @apply mb-4;
}

a {
  color: $primary-color;
}

.btn {
  @apply px-5 py-1 font-bold;
  font-size: 18px;
  border-radius: 8px;
  background: #2a3144;
  color: #f2f2f2;

  &:disabled {
    color: #bbb;
    background: #999;
  }
}

.card {
  @apply p-5;
  border: 1px solid #8a8a9a;
  border-radius: 8px;

  h2 {
    @apply text-xl font-bold mb-3;
  }
}

.btn-big {
  font-size: 24px;
  @apply px-9 py-3;
}

.btn-signin,
.btn-primary {
  background: linear-gradient(to right, #00afff, #4132eb);
}

.big-section {
  padding-top: 140px;
  padding-bottom: 140px;

  h1 {
    font-size: 48px;
    font-weight: bold;
  }

  p {
    @apply mx-auto;
    font-size: 20px;
    max-width: 720px;
  }
}

body {
  .toasted-container.full-width.top-center {
    top: 71px;
    z-index: 9;
  }
  toasted .primary.error,
  .toasted.toasted-primary.error {
    // min-width: 30vw;
    // text-align: center;
    // margin: auto;
    background: #000;
    font-weight: bold;
    font-size: 16px;
    // padding: 16px 32px;
    border: 1px solid #f44336;
    /* border-radius: 5px; */
  }
}

input[type='text'],
input[type='number'] {
  @apply px-4 py-2;
  border: 1px solid $primary-color;
  border-radius: 5px;
  background: #000;
  color: #fff;
  outline: none;
  transition: all 0.3s ease-in-out;
  font-size: 18px;

  &:focus,
  &:active {
    border: 1px solid lighten($primary-color, 20%);
  }

  &::placeholder {
    color: #5a5a5a;
  }
}
