@import '_vars';

* {
  box-sizing: border-box;
}

body {
  background: #0e1015;
  color: #f2f2f2;
}

h1 {
  @apply mb-4;
}

a {
  color: $primary-color;
}

.btn {
  @apply px-5 py-1 font-bold;
  font-size: 18px;
  border-radius: 8px;
  background: #2a3144;
  color: #f2f2f2;
}

.card {
  @apply p-5;
  border: 1px solid #8a8a9a;
  border-radius: 8px;

  h2 {
    @apply text-xl font-bold mb-3;
  }
}

.btn-big {
  font-size: 24px;
  @apply px-9 py-3;
}

.btn-signin {
  background: linear-gradient(to right, #00afff, #4132eb);
}

.big-section {
  padding-top: 140px;
  padding-bottom: 140px;

  h1 {
    font-size: 48px;
    font-weight: bold;
  }

  p {
    @apply mx-auto;
    font-size: 20px;
    max-width: 720px;
  }
}
