@import '_vars';

@font-face {
  font-family: 'Pacaembu';
  src: url('../fonts/PacaembuVar-subset.woff2');
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Pacaembu', sans-serif;
  font-feature-settings: 'salt';
  font-weight: 680;
}

* {
  box-sizing: border-box;
}

body {
  background: #0e1015;
  color: #f2f2f2;
}

h1 {
  @apply mb-4;
}

a {
  color: $primary-color;
}

input[type='text'],
input[type='password'] {
  @apply px-3 py-2;
  background: #111;
  border: 1px solid $primary-color;
  border-radius: 8px;
  outline: none;
}

.btn {
  @apply px-5 py-1 font-bold;
  font-size: 18px;
  border-radius: 8px;
  background: #2a3144;
  color: #f2f2f2;
}

.btn-primary {
  background: $primary-color;
}

.card {
  @apply p-5;
  border: 1px solid #8a8a9a;
  border-radius: 8px;

  h2 {
    @apply text-xl font-bold mb-3;
  }
}

.btn-big {
  font-size: 24px;
  @apply px-9 py-3;
}

.btn-signin {
  background: linear-gradient(to right, #00afff, #4132eb);
}

.big-section {
  padding-top: 140px;
  padding-bottom: 140px;

  h1 {
    @apply mx-auto mb-8;
    max-width: 800px;
    font-size: 48px;
    font-weight: bold;
  }

  p,
  ul {
    @apply mx-auto;
    max-width: 800px;
  }

  ul {
    list-style-type: disc;
    padding-left: 1rem;

    li {
      padding-bottom: 0.25rem;
    }
  }
}

.hero-home {
  background: url('../images/homebg.jpg') no-repeat center center;
  background-size: cover;
  height: 560px;

  img {
    height: 96px;
    width: auto;
    margin-bottom: 16px;
  }
}

.bg-blue {
  background: #03070c;
}

.black-transparent {
  background: #0e1015cb;
  padding: 8px;
  border-radius: 6px;
}

.join-discord {
  position: relative;
  overflow: hidden;

  .cypher {
    width: 500px;
    height: auto;
    position: absolute;
    left: -80px;
    bottom: -88px;
    z-index: -1;

    @media screen and (min-width: 800px) {
      width: 700px;
      left: -200px;
      bottom: -280px;
    }

    @media screen and (min-width: 1500px) {
      width: 700px;
      left: 0;
      bottom: -280px;
    }
  }
}
